<hgroup>
  <div id="header-inner">
    <span class="first"><img src="/favicon.png" alt="Progriff icon"/> <a href="{{ root_url }}/">{{ site.title }}</a></span>
    <br/>
    <span><a href="/about">about</a></span>
    <span><a href="http://www.github.com/pugnusferreus">github</a></span>
    <span><a href="https://twitter.com/pugnusferreus" title="twitter">twitter</a></span>
    <span><a href="http://www.flickr.com/photos/95990368@N08/" title="twitter">flickr</a></span>
    <span><a href="https://soundcloud.com/benson-cs-lim" title="twitter">soundcloud</a></span>
    <span class="last"><a href="{{ site.subscribe_rss }}" title="subscribe via RSS">rss</a></span>
  </div>
</hgroup>
